body{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
background: #000000;
background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(140, 137, 137, 1) 100%);

}

.container {
  background: white;
  border: 4px double Yellow;
  border-radius: 25px;
  padding: 30px 40px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  
}

button {
  margin-top: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: #007bff;
  color: black;
  border-radius: 8px;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}

h2 {
  color: #333;
  margin-bottom: 15px;
}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
 background: #000000;
background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(140, 137, 137, 1) 100%);
  
}

#Alert {
  display: none;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  z-index: 2;
  text-align: center;
   box-shadow: 0 0 15px,0 0 20px yellow, 0 0 25px yellow;
}
